@import '../../variables.scss';

.test {
  display: flex;
  flex-wrap: nowrap;
  .test-wrapper {
    flex: 1 1 auto;
    position: relative;
  }
  .test-ctrl {
    flex: 0 0 auto;
    .crtl-wrapper {
      display: flex;
      flex-direction: column;
      position: sticky;
      top: 0;
    }
    .ant-btn {
      margin: $margin-md;
      margin-bottom: 0;
    }
  }
  .test-loading {
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    text-align: center;
    padding-top: $margin-xl;
  }
  .ant-table-cell {
    .ant-radio-wrapper {
      margin-right: $margin-sm;
    }
    .ant-input {
      width: 50%;
    }
    .radio-group-judge {
      width: 30%;
      display: flex;
      & > label {
        flex: 1 1 auto;
        text-align: center;
      }
    }
  }
  .ant-table-thead tr,
  .ant-table-row {
    .ant-table-cell:first-child {
      padding-right: $margin-md;
    }
    .ant-table-cell:last-child {
      padding-left: $margin-md;
    }
  }
}
