@import '../../variables.scss';

.home {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .home-title {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home-title-logo {
    height: 12rem;
  }

  .home-footer {
    flex: 0 0 auto;
    height: 2rem;
    line-height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-size-xl;
    margin: 1rem;
  }
}
